<a class="social-link" title="Follow on Twitter" href="https://twitter.com/RichLundeen"><i class="fa fa-twitter"></i></a>
<a class="social-link" title="Follow on Goodreads" href="https://www.goodreads.com/user/show/5821679-rich"><i class="icon-light"><span class="goodreads-link">g</span></i></a>
<a class="social-link" title="Follow on Facebook" href="https://www.facebook.com/rich.lundeen"><i class="fa fa-facebook"></i></a>
<a class="social-link" title="Follow on Google+" href="https://plus.google.com/u/0/116175507609814644162/posts"><i class="fa fa-google-plus"></i></a>