html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
   font-size: 100%
}

.apolcalyptic-text {
  font-family: 'Special Elite', Arial, serif;
  font-size: 40px;
}

.space-text {
  font-family: 'Bangers', cursive;
  font-size: 40px;
}

.coming-soon {
  background-color: yellow;
  font-style: italic;
  padding: 5px 10px 5px 5px;
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 35vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 65%;
  padding: 5%;
  border-radius: 2px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 155%;
  padding: 30px 0;
  min-height: 0;
  
  h1 {
   color: #fff; 
  }
}

#title {
  background-color: #666;
   background-attachment: fixed;
}

#apocalypseIdaho:before {
  background-image: url("https://s3.amazonaws.com/ooomf-com-files/3jPYgeVCTWCMqjtb7Dqi_IMG_8251.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#violaViolence {
  background-image: url("http://24.media.tumblr.com/4b27e477e054f94a54513f7d50f28e09/tumblr_n397cyiw2s1slhhf0o1_1280.jpg");
  background-attachment: fixed;
}